*{
  margin: 0px;
  padding: 0px;
  font-family: Sans-Serif;
  
}

.loader{
  position: fixed;
  inset: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeout 1s ease 2s forwards;
}
.spinner{
  width: 60px;
  height: 60px;
  border: 6px solid #555;
  border-top: 6px solid #b99447;
  border-radius:50%;
  animation: spin 4s linear infinite;
}
@keyframes spin{
  to{
    transform: rotate(1000deg);
  }
}
@keyframes fadeout{
  to{
    opacity: 0;
    visibility: hidden;
  }
}
html{
 scroll-behavior:smooth;
}


header{
  background-image:url('imgs/fundo.webp');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 8px #7f7f7f;
  height: 100vh;
  width: 100%;
}
/*efeito de bebidas carrocel*/

.gallery {
  width: 100%;
  max-width: 600px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

/*efeito fo slider rolando*/

.slider-container{
  width:90%;
  max-width: 600px;
  overflow:hidden;
    
}
.slider{
  display:flex;
  animation: slide 6s infinite;
}
.slide{
  min-width: 100%;
  color:#fff;
  text-align: left;
  margin-top:52.5vh;
  font-size: 7vh;
}

    @keyframes slide {
      
      25% { transform: translateX(0%); }
      30% { transform: translateX(-100%); }
      55% { transform: translateX(-100%); }
      60% { transform: translateX(-200%); }
      85% { transform: translateX(-200%); }
      90% { transform: translateX(-300%); }
      100% { transform: translateX(-300%); }
    }
.intro{
  color: #fff;
  font-size: 15px;
  padding-top: 30px;
}
/*barra de navegação*/

nav, .nave {
      display: flex;
      gap: 30px;
      justify-content: center;
      
}

nav{
  position:fixed;
  background-image: linear-gradient(to left,rgb(123,123,123),#333);
    box-shadow: 2px 2px 8px #7f7f7f;
  bottom: -0.3%;
  border-top-left-radius: 7px;
  border-top-right-radius:7px;
  z-index: 3;
  height:60px;
  width:100%;
}
.ultimo{
  overflow: hidden;
}
.nave img{
  text-decoration: none;
  color: #fff;
  z-index: 1;
  margin: 18px;
  transition: all 1s ease-in-out;
}
.nave img:hover{
  border-radius: 20%;
  background: #fff;
  
}
.nave img{
  width:28px;
  
}
/*botão de instalar*/
#installBtn{
  position: absolute;
    margin:10px;
    padding:10px 20px; 
    background:#d32f2f; 
    color:#fff;
    border:none; 
    border-radius:8px; 
    cursor:pointer;
}
#entradas,#magogas,#pizzas,#Doses-extras{
  margin:160px 20px 160px 20px;
}

.iten img{
  width: 100px;
  padding:0;
  
} 
.iten{
  position: relative;
  margin: 20px 10px ;
  display: flex;
  flex-direction: row;
  border:1px solid #fff;
  border-radius: 8px;
 min-height:100px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.titulo{
  font-size: 20px;
  text-transform: capitalize;
}
p{
  font-size: 10px;
  margin-top:;
  z-index: 20;
}
.inf{
  margin-top: 10px;
}
/*precos , o estilo e a posição de cada um*/
.preco{
  position:absolute;
  font-size: 20px;
  text-align: right;
  color: red;
  font-style: italic;
  bottom:0;
  left:200px;
font-family: 'Montserrat', sans-serif;

}

.refri{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* cor de fundo opcional */
  padding: 20px 0;
}

.gallery {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.cards {
  display: flex;
  gap: 20px;
  list-style: none;
  animation: scroll 10s linear infinite;
}

.cards li {
  flex: 0 0 auto;
  width: 160px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.cards li:hover {
  transform: scale(1.1);
}

.cards img {
  width: 100%;
  height: 100%;

}

/* animação de deslizar */
@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
#botao{
  position: fixed;
  bottom:2%;
  right:2%;
  background:green;
  padding: 15px;
  z-index: 5;
  border-radius: 50%;
  transition: all 2s ease-in-oute;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#botao img{
  width: 20px;
}
#:hover{
  transform: rotateY(360deg);
  transition:2s ;
  
  background:linear-gradient(to left,#fff,#333);
}
/*responsividade para tablet*/

@media screen and (min-width:768px){
  .spinner{
    width:120px;
    height: 120vh;
  }
  .intro{
    font-size: 30px;
  }
  .titulo{
    font-size: 36px;
  }
  .iten img{
    width:200px;
  }
  .iten{
    width: auto;
    height:auto;
  }
  p{
    font-size: 20px;
  }
  .preco{
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
  }
  .slide{
    font-size: 10vh;
  }
  .pratos{
    width: 400px;
    height: 600px;
  }
  .bbt{
    width: 60px;
    height: 60px;
  }
  #entradas,#magogas,#Sobremesas{
  
  display: grid;
  grid-template-rows:  repeat(3,300px);
gap:200px;
}
body{
  overflow: auto;
}
.cards li{
  width:700px;
  max-height:300px;
}

  header {
    width: 200%; 
    height: 200%; /* ocupa a altura inteira da tela */
    background-image: url("imgs/fundo2.webp"); /* substitui pelo caminho da imagem */
    background-size: cover; /* faz a imagem cobrir toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
    margin: 0;
    padding: 0;
  }
.inf  p {
    display: none;
  }

}
.bbt{
  position: absolute;
  right:0;
  bottom: -1;
  width: 30px;
  height: 30px;
  text-align: center;
  display:flex;
  justify-content: start;
  justify-itens: start;
  border:none;
  padding: 10px;
  border-radius: 30%;
  color:#fff;
  background:linear-gradient(to left,#6196C1,black);
}